<div class="home p-2">
  <h1 class="text-lg mb-3">Gross Salary Chart</h1>
  <div class="chart">
    <div class="form flex">
      <label for="years">Year</label>
      <select
        (ngModelChange)="displayChart($event)"
        class="form-select w-1/5 ml-2"
        id="years"
        name="years"
        [(ngModel)]="selectedYear"
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="chart mt-2">
      <div class="chart" style="width: 500px; height: 500px; position: relative">
        <canvas id="MyChart"></canvas>
        <div *ngIf="grossAmount" class="gross-amount">
          Gross Salary :
          <span class="text-lg">{{ grossAmount }}</span>
        </div>
      </div>
    </div>
    <div class="dates" *ngIf="grossAmount">
      <div>Financial Year Start: {{ financialDates.start }}</div>
      <div>Financial Year End : {{ financialDates.end }}</div>
    </div>
  </div>
</div>
